<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^organisation/([0-9]+)$ pages/profile-org.php?id_view_org=$1
RewriteRule ^edit pages/edit_org.php
RewriteRule ^registration/citizen pages/registration-citizen.php
RewriteRule ^login/citizen pages/login-citizen.php
RewriteRule ^registration/org pages/registration-organization.php
RewriteRule ^login/org pages/login-organization.php

RewriteRule ^login/org pages/login-organization.php

RewriteRule ^feed pages/feed.php
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>



php_value error_reporting -1
php_flag display_errors on
php_flag display_startup_errors on

php_flag ignore_repeated_source off
php_flag ignore_repeated_errors off

php_flag track_errors on

php_flag log_errors on

php_flag mysql.trace_mode on