<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splashapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Citedit"
            android:label="@string/title_activity_citedit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CitProf"
            android:label="@string/title_activity_cit_prof"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Q_A"
            android:label="@string/title_activity_menu2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".N_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Choice"
            android:theme="@style/ChoiceTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>